In [9]:
import pandas as pd

data = pd.read_csv("hw1111.csv")
data

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期  血型
0   郭元瑜  新北市  工  W  70  113086     6    26   Ａ
1   劉家齊  台北市  教  M  57   45045    11    22  ＡＢ
2   楊亞妤  基隆市  工  M  31  151745     1     2   Ｏ
3   蔡至偉  台北市  商  M  66  111087     5    19   Ｂ
4   林慧敏  新北市  工  W  27  174203    12     5   Ａ
5   許聖豪  桃園縣  教  M  22  124387     9    27   Ａ
6   潘彥伶  台北市  工  W  57   78049     6    17   Ｏ
7   張建志  新北市  工  W  35  168460     7    10   Ｏ
8   盧小薔  新北市  教  M  25  169728     8    17   Ｂ
9   歐晏中  新北市  軍  M  46  148443    12     6  ＡＢ
10  黃文睿  台北市  公  W  42   76647    10    15   Ｂ
11  楊若玲  新北市  農  M  72  121579     7    15   Ａ
12  李祖華  台北市  公  W  79  147150     2    23   Ａ
13  林玉君  新北市  農  M  54  173512     4    20   Ａ
14  陳家惠  桃園縣  商  W  70  157515     3     6   Ａ
15  林貫華  基隆市  教  M  59   79165     1    28   Ｂ
16  胡巧韋  基隆市  公  M  53  149443     9     1   Ｏ
17  陳文芳  台北市  工  W  45  127844     5    17   Ｂ
18  王錫恩  新北市  工  W  75   88079     5     6   Ａ
19  周力文  新北市  商  W  72   73543     4    17   Ｂ
20  吳斐亭  新北市  教  M  27   76682     8    12   Ａ
21  鄭麗萱  台北市  工  M  42   23439     2    25   Ｂ
22  黃佩文  新北市  軍  M  70  170385     3     7   Ｂ
23  葉圓芸  台北市  公  W  33  159212     3     2   Ｂ
24  趙碧云  新北市  教  W  72   59869     7    28   Ｏ
25  謝怡君  桃園縣  商  M  36   72728     4    28  ＡＢ
26  柯俊城  基隆市  商  M  31  163841    12     4   Ｂ
27  洪國彬  基隆市  醫  W  39   76990     4    13   Ａ
28  藍燕秋  台北市  農  M  54   66619     8     6   Ｂ
29  翁哲裕  新北市  工  W  33  112310    11    10   Ａ
30  劉賢苓  新竹市  教  M  50   81281     8     4   Ｂ
31  陳亦穎  新北市  教  W  45  155654     9     6  ＡＢ
32  張後鋒  桃園縣  公  M  21  171193     9     2   Ｂ
33  白順瑞  基隆市  工  M  59   50748     4     6   Ｂ
34  吳文西  基隆市  商  W  67   76813     4    15   Ａ

In [16]:
#第一題
#總共幾個基隆人
keelung = data[data['居住地'] == '基隆市']
keelung.counter = len(keelung)
print('共有',keelung.counter,'人')
keelung

共有 7 人

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期 血型
2   楊亞妤  基隆市  工  M  31  151745     1     2  Ｏ
15  林貫華  基隆市  教  M  59   79165     1    28  Ｂ
16  胡巧韋  基隆市  公  M  53  149443     9     1  Ｏ
26  柯俊城  基隆市  商  M  31  163841    12     4  Ｂ
27  洪國彬  基隆市  醫  W  39   76990     4    13  Ａ
33  白順瑞  基隆市  工  M  59   50748     4     6  Ｂ
34  吳文西  基隆市  商  W  67   76813     4    15  Ａ

In [24]:
#第二題
#取交集(是男生且薪水大魚50000的人)
Male_Salary = data[(data['姓別'] == 'M') & (data['薪水'] >50000)]
Male_Salary

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期  血型
2   楊亞妤  基隆市  工  M  31  151745     1     2   Ｏ
3   蔡至偉  台北市  商  M  66  111087     5    19   Ｂ
5   許聖豪  桃園縣  教  M  22  124387     9    27   Ａ
8   盧小薔  新北市  教  M  25  169728     8    17   Ｂ
9   歐晏中  新北市  軍  M  46  148443    12     6  ＡＢ
11  楊若玲  新北市  農  M  72  121579     7    15   Ａ
13  林玉君  新北市  農  M  54  173512     4    20   Ａ
15  林貫華  基隆市  教  M  59   79165     1    28   Ｂ
16  胡巧韋  基隆市  公  M  53  149443     9     1   Ｏ
20  吳斐亭  新北市  教  M  27   76682     8    12   Ａ
22  黃佩文  新北市  軍  M  70  170385     3     7   Ｂ
25  謝怡君  桃園縣  商  M  36   72728     4    28  ＡＢ
26  柯俊城  基隆市  商  M  31  163841    12     4   Ｂ
28  藍燕秋  台北市  農  M  54   66619     8     6   Ｂ
30  劉賢苓  新竹市  教  M  50   81281     8     4   Ｂ
32  張後鋒  桃園縣  公  M  21  171193     9     2   Ｂ
33  白順瑞  基隆市  工  M  59   50748     4     6   Ｂ

In [25]:
#第三題
#總共幾個職業是教職人員
job = data[data['職業'] == '教']
job.counter = len(job)
print('共有',job.counter,'人')
job

共有 8 人

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期  血型
1   劉家齊  台北市  教  M  57   45045    11    22  ＡＢ
5   許聖豪  桃園縣  教  M  22  124387     9    27   Ａ
8   盧小薔  新北市  教  M  25  169728     8    17   Ｂ
15  林貫華  基隆市  教  M  59   79165     1    28   Ｂ
20  吳斐亭  新北市  教  M  27   76682     8    12   Ａ
24  趙碧云  新北市  教  W  72   59869     7    28   Ｏ
30  劉賢苓  新竹市  教  M  50   81281     8     4   Ｂ
31  陳亦穎  新北市  教  W  45  155654     9     6  ＡＢ

In [41]:
#第四題
#差集(是台北人但是不是11月出生的)
Taipei_Month = data[(data['居住地'] == '台北市') & (data['出生月份'] != 11)]
Taipei_Month

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期 血型
3   蔡至偉  台北市  商  M  66  111087     5    19  Ｂ
6   潘彥伶  台北市  工  W  57   78049     6    17  Ｏ
10  黃文睿  台北市  公  W  42   76647    10    15  Ｂ
12  李祖華  台北市  公  W  79  147150     2    23  Ａ
17  陳文芳  台北市  工  W  45  127844     5    17  Ｂ
21  鄭麗萱  台北市  工  M  42   23439     2    25  Ｂ
23  葉圓芸  台北市  公  W  33  159212     3     2  Ｂ
28  藍燕秋  台北市  農  M  54   66619     8     6  Ｂ

In [43]:
#第五題
#誰薪水最高
most_money = data.loc[data['薪水'].idxmax()].name
data.loc[most_money]

姓名         林慧敏
居住地        新北市
職業           工
姓別           W
年紀          27
薪水      174203
出生月份        12
出生日期         5
血型           Ａ
Name: 4, dtype: object

In [45]:
#第六題
#誰是AB型
AB = data[data['血型'] == 'ＡＢ']
AB.counter = len(AB)
print('共有',AB.counter,'人')
AB

共有 4 人

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期  血型
1   劉家齊  台北市  教  M  57   45045    11    22  ＡＢ
9   歐晏中  新北市  軍  M  46  148443    12     6  ＡＢ
25  謝怡君  桃園縣  商  M  36   72728     4    28  ＡＢ
31  陳亦穎  新北市  教  W  45  155654     9     6  ＡＢ

In [46]:
#第七題
#誰最年輕
most_youngest = data.loc[data['年紀'].idxmin()].name
data.loc[most_youngest]

姓名         張後鋒
居住地        桃園縣
職業           公
姓別           M
年紀          21
薪水      171193
出生月份         9
出生日期         2
血型           Ｂ
Name: 32, dtype: object

In [47]:
#第八題
#誰22號出生
bir = data[data['出生日期'] == 22]
bir.counter = len(bir)
print('共有',bir.counter,'人')
bir

共有 1 人

    姓名  居住地 職業 姓別  年紀     薪水  出生月份  出生日期  血型
1  劉家齊  台北市  教  M  57  45045    11    22  ＡＢ

In [48]:
#第九題
#誰超過30歲
age = data[data['年紀'] > 30 ]
age.counter = len(age)
print('共有',age.counter,'人')
age

共有 30 人

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期  血型
0   郭元瑜  新北市  工  W  70  113086     6    26   Ａ
1   劉家齊  台北市  教  M  57   45045    11    22  ＡＢ
2   楊亞妤  基隆市  工  M  31  151745     1     2   Ｏ
3   蔡至偉  台北市  商  M  66  111087     5    19   Ｂ
6   潘彥伶  台北市  工  W  57   78049     6    17   Ｏ
7   張建志  新北市  工  W  35  168460     7    10   Ｏ
9   歐晏中  新北市  軍  M  46  148443    12     6  ＡＢ
10  黃文睿  台北市  公  W  42   76647    10    15   Ｂ
11  楊若玲  新北市  農  M  72  121579     7    15   Ａ
12  李祖華  台北市  公  W  79  147150     2    23   Ａ
13  林玉君  新北市  農  M  54  173512     4    20   Ａ
14  陳家惠  桃園縣  商  W  70  157515     3     6   Ａ
15  林貫華  基隆市  教  M  59   79165     1    28   Ｂ
16  胡巧韋  基隆市  公  M  53  149443     9     1   Ｏ
17  陳文芳  台北市  工  W  45  127844     5    17   Ｂ
18  王錫恩  新北市  工  W  75   88079     5     6   Ａ
19  周力文  新北市  商  W  72   73543     4    17   Ｂ
21  鄭麗萱  台北市  工  M  42   23439     2    25   Ｂ
22  黃佩文  新北市  軍  M  70  170385     3     7   Ｂ
23  葉圓芸  台北市  公  W  33  159212     3     2   Ｂ
24  趙碧云  新北市  教  W  72   59869     7    28   Ｏ
25  謝怡君  桃園縣  商  M  36   72728     4    28  ＡＢ
26  柯俊城  基隆市  商  M  31  163841    12     4   Ｂ
27  洪國彬  基隆市  醫  W  39   76990     4    13   Ａ
28  藍燕秋  台北市  農  M  54   66619     8     6   Ｂ
29  翁哲裕  新北市  工  W  33  112310    11    10   Ａ
30  劉賢苓  新竹市  教  M  50   81281     8     4   Ｂ
31  陳亦穎  新北市  教  W  45  155654     9     6  ＡＢ
33  白順瑞  基隆市  工  M  59   50748     4     6   Ｂ
34  吳文西  基隆市  商  W  67   76813     4    15   Ａ

In [51]:
#第十題
#誰要退休了
age = data[data['年紀'] > 60 ]
age.counter = len(age)
print('共有',age.counter,'人')
age

共有 10 人

     姓名  居住地 職業 姓別  年紀      薪水  出生月份  出生日期 血型
0   郭元瑜  新北市  工  W  70  113086     6    26  Ａ
3   蔡至偉  台北市  商  M  66  111087     5    19  Ｂ
11  楊若玲  新北市  農  M  72  121579     7    15  Ａ
12  李祖華  台北市  公  W  79  147150     2    23  Ａ
14  陳家惠  桃園縣  商  W  70  157515     3     6  Ａ
18  王錫恩  新北市  工  W  75   88079     5     6  Ａ
19  周力文  新北市  商  W  72   73543     4    17  Ｂ
22  黃佩文  新北市  軍  M  70  170385     3     7  Ｂ
24  趙碧云  新北市  教  W  72   59869     7    28  Ｏ
34  吳文西  基隆市  商  W  67   76813     4    15  Ａ